<app-header></app-header>

<ion-content padding>
  <ion-tab-bar>
    <ion-title><strong>Contacto</strong></ion-title>
  </ion-tab-bar>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>Nombre del Dueño:</strong> Alonzo Dante
          </ion-item>
          <ion-item>
            <strong>Contacto:</strong> 419-389-2949
          </ion-item>
          <ion-item>
            <strong>Mail:</strong> sembradiosSJ@hotmail.com
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100>
        <ion-img  class="img"  src="/assets/svg/farmer.svg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>